
.details{
    background: rgb(253, 253, 253);
    box-shadow: rgba(7, 7, 11, 0.05) 0px 4px 16px, rgba(10, 10, 16, 0.05) 0px 8px 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 25%;
    flex-direction: column-reverse;
    overflow: hidden;
}
.profiles{
    background: rgb(239, 255, 242);
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.info{
    background:  rgb(0, 124, 65);
    color: white;
    width: 100%;
    font-weight: 500;
    font-size:18px;
    display: flex;
    flex: 1;
    justify-content: center;
   align-items: center;
}
.info-d{
    color:  rgb(0, 124, 65);
    font-weight: 600;
    height: 80%;
    font-size: 25px;
    border-radius: 0 4px 4px 0;
    width: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
} 
.button{
    width: 140px;
    height: 40px;
    background:  rgb(0, 124, 65);
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
   align-items: center;
   border-radius: 8px;
   cursor: pointer;
}
.prof-section{
    width: 100%;
    padding: 30px;
    background: rgb(239, 255, 242);
}
.section-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    background:rgb(239, 255, 242);
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.section-2{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sec-part-1{
    width: 50%;
    height: 433px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: rgba(7, 7, 11, 0.05) 0px 4px 16px, rgba(10, 10, 16, 0.05) 0px 8px 32px;
}
.list-head{
    color:  rgb(0, 124, 65);
    font-weight: 600;
    font-size: 25px;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgb(180, 255, 209);
    border-bottom: 3px solid  rgb(0, 124, 65);
}
.list{
    color:  rgb(0, 124, 65);
    font-weight: 500;
    font-size: 20px;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(187, 228, 185);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.sec-part-2{
    box-shadow: rgba(7, 7, 11, 0.05) 0px 4px 16px, rgba(10, 10, 16, 0.05) 0px 8px 32px;
    width: 50%;
    border-radius:8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.list button{
    background: rgb(151, 255, 186);
    color: rgb(2, 127, 67) ;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.contact{
    flex: 1;
    background: rgb(227, 227, 227);
    padding: 20px;
    border-top: 1px solid rgb(187, 228, 185) ;
}
.socials{
    border-top: 1px solid rgb(187, 228, 185);
    flex: 1;
    background: rgb(227, 227, 227);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.info-detail{
    font-weight: 600;
    color: rgb(0, 128, 70);
    font-size: 20px;
}
.detail-info{
    font-size: 15px;
    color: rgb(0, 128, 70);
    font-weight: 500;
}

@media only screen and (max-width:972px){
    .profiles{
        flex-direction: column;
        width: 100%;
        overflow: scroll;
        padding-top: 50px;
        height: 100vh;
        padding-bottom: 40px;
    }
    .details{
        margin-bottom: 20px;
    }
    .section-1{
        width: 100%;
        flex-wrap: wrap;
    }
    .details{
        width: 45%;
        height: 140px;
    }
    .info{
        font-size: 25px;
    }
    .info-d{
        font-size: 30px;
        font-weight: 700;
    } 
    .sec-part-2{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .prof-section{
       padding-top: 70px;
       overflow: scroll;
    }
}
@media only screen and (max-width:800px){
    .section-2{
        flex-direction: column;
    }
    .sec-part-2, .sec-part-1{
        width: 100%;
    }
    
}
@media only screen and (max-width:500px){
    .details{
        width: 100%;
        height: 180px;
    }
}
@media only screen and (max-width:1069px) {
    .infos {
        width: 100%;
        padding: 10px;
        margin-top:5em ;
    }
    .profile{
        gap: 0px;
    }
    .section-1{
        width: 100%;
        display: flex;
    }
  }
  @media only screen and (max-width:487px){
        .infos{
            width: 100%;
            font-size: 10px;
            margin: 10px;
            padding-top: 20px;
        }
        .profile{
            display: flex;
            justify-content: center;
            z-index: 0.1;
        }
        
  }
  @media only screen and (max-width:1199px){
       .infos{
        overflow: scroll;
       }
  }