.body{
  // height: 100vh;
  // width: 100vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label{
  margin-bottom:20px;
  display: flex;
  flex-direction: column;
}
.sec-login-box{
  flex: 2;
  min-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-login{
  width: 60%;
  margin: auto;
  display: flex;
  gap: 15px;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  margin: auto;
  height: 100%;
}
.input{
  max-width: 600px;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgb(211, 210, 210);
  height: 50px;
}
.green{
  color: rgb(15, 142, 94) !important;
}
.submit{
  max-width: 700px !important;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  color: white;
  background: rgb(15, 142, 94);
  font-weight: 500;
  border-radius: 4px;
  border: none;
  height: 50px;
}
.log-side{
 width: 30%;
 flex: 1;
  height: 100%;
  font-size: 30px;
  color: black;
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.sign-head{
  font-size: 30px;
}
.img{
min-height: 70%;
width: 100%;
object-fit: cover;
}
.sec-auth{
  height: 100vh;
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  padding:0 50px;

}
.span span{
  cursor: pointer;
  color: rgb(58, 193, 255);
  font-weight: 400;
}
@media only screen and (max-width:900px){
  .log-side{
  display: none;
  }
  .sec-login-box{
    border: none;
  }
  .sec-auth{
    padding:0 20px;
  // justify-content: flex-start;
  // align-items: flex-start;
  height: fit-content;
 
  }
  
  .sec-login{
    width: 100%;
  }
  .signup{ 
     gap: 5px;
}
}