.profile{
    display: flex;
    // background: rgb(243, 29, 29);
    overflow: scroll;
    

 }
.prof{
    padding: 20px;
    width: 100%;    
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    overflow-x: hidden;
}
.first-prof{
    height: 100%;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    background: rgb(240, 254, 241);
}
.prof-img{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: baseline;
   
    // align-items: baseline;
}
.headings{
    color: rgb(29, 126, 76);
    font-size: 25px;
    font-weight: 500;

}
.prof-img img{
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}
.prof-img small{
    color: black !important;
}

.upload{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: auto;
    width: 150px;
}
.account-info{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-section label{
font-size: 15px;
}
.input-section input{
    font-size: 15px;
   width: 70% !important;
   height: 40px!important;
   padding-left: 10px;
   border: 1px solid rgb(221, 222, 221);
}
.info-input button{
    margin-left: 30%;
}
button{
    background: rgb(42, 156, 97);
    border: none;
    max-width: 200px !important;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 7px 5px;
    border-radius: 5px;
}
.sec-prof{
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    background: rgb(240, 254, 241);
}
.headings img{
    display: none;
}
.prof-view img, .transform-scale img{
    width: 40%;
}
.transform-scale{
    position: absolute;
width: 40vw;
height:500px;
top: 20px;
right: 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
    transition-duration: 1s;
    transform:  rotateY(90deg) ;
}
.prof-view{
position: absolute;
width: 80vw;
height:80vh;
top: 80px;
right: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #000;
// background: rgba(0, 0, 0, 0.193);
transition-duration: 1s;
transform:  rotateY(0deg) ;
}
.x{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    position: absolute;
    top: 3vw;
    right:4vw;
    width: 50px;
    height:50px;
    background: rgba(0, 93, 48, 0.627);
    border-radius: 50%;
    color: white;
    transform:  rotateZ(50deg) ;
}
@media only screen and (max-width:800px){
    .profile{
        overflow: scroll;
        // min-height: 100vh;
    }
    .first-prof{
        margin-top: 30px;
    height: 100%;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    background: rgb(240, 254, 241);
}
    .prof-view, .transform-scale{
        width: 80%;
        // transform:  rotateY(90deg) ;
    }
}
@media only screen and (max-width:950px){
    .prof-view, .transform-scale{
        top: 95px;
        // right: 40px;
        // width: 60%;
        // border: 3px solid blue;
    }
    .prof{
        flex-direction: column;
        overflow: scroll;
        padding-top: 50px;
    }
    .one{
        display: none;
    }
    .headings{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headings img{
        display: block;
        border-radius: 50%;
        width: 50px;
        cursor: pointer;
    }
    .sec-prof, .first-prof{
        width: 100%;
        margin-bottom:30px ;
        // height: 100vh;
        // height: fit-content;
        // overflow: scroll;
    }
       
  
}



































